# Exploratory Data Analysis of Netflix Movies and TV Shows

## 1. Introduction

* Purpose of the analysis (why)
* Objectives
* Tools: Python, pandas, matplotlib, seaborn

## 2. Data Overview

* Load dataset (read_csv)
* Display first rows, shape, column names
* Identify data types, null values, duplicates

In [1]:
# Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
PATH_FILE = '/home/gustavo/Documents/Data_Carrer/04_github/netflix-eda/netflix_data.csv'

df = pd.read_csv(PATH_FILE, index_col=0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4812 entries, s2 to s7784
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          4812 non-null   object
 1   title         4812 non-null   object
 2   director      4812 non-null   object
 3   cast          4812 non-null   object
 4   country       4812 non-null   object
 5   date_added    4812 non-null   object
 6   release_year  4812 non-null   int64
 7   duration      4812 non-null   int64
 8   description   4812 non-null   object
 9   genre         4812 non-null   object
dtypes: int64(2), object(8)
memory usage: 413.5+ KB

In [12]:
df.shape

(4812, 10)

In [11]:
df.head(3)

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action

In [14]:
list_of_columns = df.columns.to_list()
print(list_of_columns)

['type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'duration', 'description', 'genre']

In [17]:
df.describe(include='object')

,type,title,director,cast,country,date_added,description,genre
count,4812,4812,4812,4812,4812,4812,4812,4812
unique,2,4812,3615,4690,72,1292,4807,31
top,Movie,7:19,"Raúl Campos, Jan Suter",Samuel West,United States,"January 1, 2020",A young Han Solo tries to settle an old score ...,Dramas
freq,4677,1,18,10,1886,100,2,1343

In [18]:
df['type'].value_counts()

type
Movie      4677
TV Show     135
Name: count, dtype: int64

## 3. Data Cleaning

* Handle missing values (e.g., director, cast, country)
* Fix inconsistent data (e.g., trim spaces, unify case)
* Convert types (e.g., date_added → datetime)
* Remove duplicates

In [13]:
df.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
duration        0
description     0
genre           0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(0)

## 4. Exploratory Analysis

* Explore main patterns:
* Content type: movies vs. TV shows
* Release year: content trend over time
* Country: top producing countries
* Genre: most frequent genres
* Duration: average runtime or number of seasons
* Include visuals: bar charts, pie charts, countplots, histograms.

## 5. Insights and Observations

* Key findings (e.g., “Most Netflix content is recent; USA dominates production”)
* Highlight 3–5 interesting insights with visuals

## 6. Conclusion

* Summarize the story the data tells
* Mention possible extensions (e.g., correlation with IMDb ratings, dashboard version)

## 7. References (optional)

* Dataset source (Kaggle or public link)
* Libraries used